# IntelliJ
out/
*.iml
META-INF/
gradle/
.gradle/
.idea/

local.properties

### Java ###
*.class

# Log file
*.log

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
